<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Jewish Calendar</string>
	<key>CFBundleVersion</key>
	<string>2.1.3</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.reference</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>LSRequiresCarbon</key>
	<true/>
	<key>CFBundleIconFile</key>
	<string>app.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.jewcal.app</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Jewish Calendar</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>FYJC</string>
	<key>CFBundleShortVersionString</key>
	<string>2.1.3</string>
	<key>CSResourcesFileMapped</key>
	<true/>
</dict>
</plist>
